<app-header></app-header>
<!--<app-home></app-home>-->
<!--<app-services-list></app-services-list>-->
<!--<app-create-villa></app-create-villa>-->
<!--<app-create-house></app-create-house>-->
<!--<app-create-room></app-create-room>-->
<!--<app-edit-villa></app-edit-villa>-->
<!--<app-edit-house></app-edit-house>-->
<!--<app-edit-room></app-edit-room>-->
<!--<app-customer-list></app-customer-list>-->
<!--<app-customer-edit></app-customer-edit>-->
<!--<app-customer-create></app-customer-create>-->
<!--<app-contract-list></app-contract-list>-->
<app-contract-create></app-contract-create>
<app-footer></app-footer>
