<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td><a   type="button" class="btn btn-danger btn-sm btn-rounded delete_btn" data-mdb-toggle="modal"
           data-mdb-target="#deleteModal" data-id="1" data-name="{{product.name}}"
            (click)="updateDeleteName(product.name, product.id)">Delete</a></td>
  </tr>
</table>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
        <input type="hidden" name="idDelete" id="idDelete">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn chắc chắn muốn xóa sản phẩm <span class="text-danger" id="deleteName">{{nameDelete}}</span> ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Hủy</button>
          <input (click)="deleteProduct()" type="submit" class="btn btn-danger" id="delete_btn" value="Đồng ý"/>
        </div>
    </div>
  </div>
</div>

