<div class=" col-4 mx-auto">
  <form [formGroup]="createContractForm" (ngSubmit)="submit()">
    <div class="modal-header">
      <h5 class="modal-title">Thêm mới hợp đồng</h5>
    </div>
    <div class="modal-body">
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="contractCode" class="form-control" formControlName="contractCode"/>
          <label class="form-label" for="contractCode">Mã hợp đồng<span class="text-danger">(*)</span></label>
        </div>
        <div *ngIf="contractCode?.touched">
          <small class="text-danger" *ngIf="contractCode?.errors?.required">Code cannot be empty.</small>
          <small class="text-danger" *ngIf="contractCode?.errors?.pattern">Correct format: HD-XXXX.</small>
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="date" id="contractStartDate" class="form-control" formControlName="contractStartDate"/>
          <label class="form-label" for="contractStartDate">Ngày bắt đầu<span class="text-danger">(*)</span></label>
        </div>
        <div *ngIf="contractStartDate?.touched">
          <small class="text-danger" *ngIf="contractStartDate?.errors?.required">Date cannot be empty.</small>
<!--          <small class="text-danger" *ngIf="contractEndDate?.errors?.pattern">Correct format: KH-XXXX.</small>-->
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="date" id="contractEndDate" class="form-control" formControlName="contractEndDate"/>
          <label class="form-label" for="contractEndDate">Ngày kết thúc<span class="text-danger">(*)</span></label>
        </div>
        <div *ngIf="contractEndDate?.touched">
          <small class="text-danger" *ngIf="contractEndDate?.errors?.required">Date cannot be empty.</small>
          <!--          <small class="text-danger" *ngIf="contractEndDate?.errors?.pattern">Correct format: KH-XXXX.</small>-->
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="contractDeposit" class="form-control" formControlName="contractDeposit"/>
          <label class="form-label" for="contractDeposit">Tiền đặt cọc<span class="text-danger">(*)</span></label>
        </div>
        <div *ngIf="contractDeposit?.touched">
          <small class="text-danger" *ngIf="contractDeposit?.errors?.required">Deposit cannot be empty.</small>
          <small class="text-danger" *ngIf="contractDeposit?.errors?.min">Deposit must be greater than 10000000</small>
        </div>
      </div>

      <label class="form-label" for="employee">Nhân viên</label>
      <select id="employee" class="form-control mb-4" formControlName="employee">
        <option>Nguyễn Văn A</option>
        <option>Nguyễn Thị B</option>
        <option>Trần Văn C</option>
        <option>Đinh Hồng Cẩm D</option>
      </select>

      <label class="form-label" for="customer">Khách hàng</label>
      <select id="customer" class="form-control mb-4" formControlName="customer">
        <option>Hoàng Nghĩa Tuân</option>
        <option>Dương Vi Na</option>
      </select>

      <label class="form-label" for="service">Dịch vụ</label>
      <select id="service" class="form-control mb-4" formControlName="service">
        <option>Villa</option>
        <option>House</option>
        <option>Room</option>
      </select>

    </div>
    <div class="modal-footer">
      <input [disabled]="createContractForm.invalid" type="submit" class="btn btn-primary" value="Thêm mới"/>
    </div>
  </form>
</div>
